.notFound {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .notFoundContent {
    width: 45%;
    .notFoundTitle {
      font-size: 40px;
      font-weight: 900;
    }
    .notFoundDescription {
      font-size: 18px;
      margin-top: 12px;
    }
    .notFoundButton {
      margin-top: 12px;
      font-size: 18px;
      padding: 6px 12px;
      background: #faaa62;
      color: #fff;
      display: inline-block;
      &:hover {
        background: #f59b4d;
      }
    }
  }
  .notFoundImageBox {
    width: 50%;
    overflow: hidden;
    .notFoundImage {
      width: 140%;
      object-fit: cover;
      transform: translateX(-20%);
    }
  }
}
