.about {
  .aboutTitle {
    text-transform: capitalize;
    font-family: 'Source Serif Pro', serif;
    font-size: 48px;
    font-weight: 600;
    color: #2f2e2e;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    padding-bottom: 6px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 24px;
      background-color: #2f2e2e;
    }
  }
  .aboutImage {
    width: 90%;
    margin: 36px auto 0;
  }
  .aboutContent {
    background-color: #eaf2f5;
    padding: 60px;
    width: 70%;
    margin: auto;
    text-align: center;
    transform: translateY(-15%);
    .aboutWelcome {
      font-size: 30px;
      font-weight: 500;
      font-family: 'Source Serif Pro', serif;
    }
    .aboutParagraph {
      margin: 24px 0 36px;
      line-height: 2;
    }
  }
}
