.about{
    padding: 96px 0 0;
    &__title{
        text-transform: capitalize;
        font-family: 'Source Serif Pro', serif;
        font-size: 48px;
        font-weight: 600;
        color: #2f2e2e;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        padding-bottom: 6px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            width: 24px;
            background-color: #2f2e2e;
        }
    }
    &__image{
        width: 90%;
        margin: 36px auto 0;
    }
    &__content{
        background-color: #eaf2f5;
        padding: 60px;
        width: 70%;
        margin: auto;
        text-align: center;
        .about__welcome{
            font-size: 30px;
            font-weight: 500;
            font-family: 'Source Serif Pro', serif;
        }
        .about__paragraph{
            margin: 24px 0 36px;
            line-height: 2;
        }
        .about__form{
            text-align: center;
            width: 70%;
            margin: auto;
            .form__title{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 16px;
                font-weight: 400;
            }
            .input__container{
                display: flex;
                justify-content: space-between;
                margin-top: 36px;
                .form__input{
                    font-size: 15px;
                    width: 48%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    border-bottom: 1px solid #000;
                    padding: 6px 12px;
                    &:focus{
                        border-color: #faaa62;
                    }
                }
            }
            .form__textarea{
                font-size: 15px;
                margin: 24px 0;
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                border-bottom: 1px solid #000;
                resize: none;
                height: 200px;
                padding: 6px 12px;
                    &:focus{
                        border-color: #faaa62;
                    }
            }
        }
    }
}