.about {
  .aboutTitle {
    text-transform: capitalize;
    font-family: 'Source Serif Pro', serif;
    font-size: 48px;
    font-weight: 600;
    color: #2f2e2e;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    padding-bottom: 6px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 24px;
      background-color: #2f2e2e;
    }
  }
  .aboutImage {
    width: 90%;
    margin: 36px auto 0;
  }
  .aboutContent {
    background-color: #eaf2f5;
    padding: 60px;
    width: 70%;
    margin: auto;
    text-align: center;
    transform: translateY(-15%);
    .aboutWelcome {
      font-size: 30px;
      font-weight: 500;
      font-family: 'Source Serif Pro', serif;
    }
    .aboutParagraph {
      margin: 24px 0 36px;
      line-height: 2;
    }
    .aboutForm {
      text-align: center;
      width: 70%;
      margin: auto;
      .formTitle {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 400;
      }
      .inputContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 36px;
        .formInput {
          font-size: 15px;
          width: 48%;
          border: none;
          outline: none;
          background-color: transparent;
          border-bottom: 1px solid #000;
          padding: 6px 12px;
          &:focus {
            border-color: #faaa62;
          }
        }
      }
      .formTextarea {
        font-size: 15px;
        margin: 24px 0;
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid #000;
        resize: none;
        height: 100px;
        padding: 6px 12px;
        &:focus {
          border-color: #faaa62;
        }
      }
      .formButton {
        width: 200px;
        padding: 12px 24px;
        background-color: #2f2e2e;
        outline: none;
        border: none;
        color: white;
        font-size: 15px;
        transition: 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: #5e5b5b;
        }
      }
    }
  }
}
