.posts {
  .post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .postLinkImage {
      width: 40%;
    }
    .postContent {
      width: 58%;
      margin: 0;
      padding: 24px;
      .postTitle {
        font-size: 40px;
      }
    }
  }
}
