.category {
  .categoryTitle {
    text-transform: capitalize;
    font-family: 'Source Serif Pro', serif;
    font-size: 48px;
    font-weight: 600;
    color: #2f2e2e;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    padding-bottom: 6px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 24px;
      background-color: #2f2e2e;
    }
  }
  .posts {
    margin-top: 36px;
    .post {
      .postLinkImage {
        .postImage {
          aspect-ratio: 2 / 1;
        }
      }
    }
  }
}
