.comment {
  border: 1px solid #f0ecec;
  margin-top: 36px;
  padding: 24px 96px;
  .commentTitle {
    font-family: "Source Serif Pro", serif;
    font-size: 20px;
    font-weight: 600;
    color: #2f2e2e;
    padding-bottom: 12px;
    border-bottom: 1px solid #d5d5d5;
  }
  .commentContainer {
    margin-top: 24px;
    border: 1px solid #d5d5d5;
    padding: 12px;
    position: relative;
    &.active {
      border-color: #444242;
      .commentControl {
        display: block;
      }
    }
    &:hover {
      border-color: #444242;
    }
    .commentInputArea {
      outline: none;
    }
    .commentPlaceholder {
      position: absolute;
      top: 12px;
      left: 12px;
      pointer-events: none;
    }
    .commentControl {
      text-align: right;
      margin-top: 12px;
      display: none;
      .btnCancel {
        margin-right: 24px;
        border: none;
        background: none;
        color: #faaa62;
        cursor: pointer;
        font-size: 14px;
      }
      .btnPublish {
        font-size: 14px;
        border: none;
        background: #e0e0e0;
        color: white;
        padding: 6px 12px;
        pointer-events: none;
        &.active {
          pointer-events: auto;
          cursor: pointer;
          background: #faaa62;
        }
      }
    }
  }
}
