.navbar {
  background-color: #ffe5ce;
  padding: 24px 0;
  &-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
      display: flex;
      &__item {
        padding: 0 6px;
      }
      &__link {
        font-weight: 400;
        padding: 12px 6px;
        color: #2f2e2e;
        transition: color 0.2s ease-in-out;
        &--active,
        &:hover {
          color: #faaa62;
        }
      }
    }
    .social {
      display: flex;
      &__item {
        padding: 0 3px;
      }
      &__link {
        color: #040403;
        padding: 8px 12px;
      }
    }
  }
}
