.author{
    &__image{
        width: 100%;
        height: auto;
    }
    &__content{
        background-color: #eaf2f5;
        padding: 24px;
        color: #2f2e2e;
        .author__title{
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        .author__description{
            margin: 12px 0;
            line-height: 1.5;
        }
        .author__email{
            font-weight: 400;
            &:hover{
                text-decoration: underline;

            }
        }
    }
}