.post{
    margin-bottom: 60px;
    .post__image-container{
        display: block;
        .post__image{
            width: 100%;
        }
    }
    .post__content{
        margin-top: 24px;
        padding: 0 24px;
        .post__user{
            display: flex;
            align-items: center;
            .user__image{
                width: 48px;
                height: 48px;
                border-radius: 50%;
                overflow: hidden;
            }
            .user__info{
                font-size: 14px;
                margin-left: 12px;
                .user__time{
                    margin-left: 12px;
                }
            }
        }
        .post__link{
            display: block;
            color: #2f2e2e;
            margin-top: 12px;
            &:hover{
                color: #faaa62;
            }
            .post__title{
                font-family: 'Source Serif Pro', serif;
                font-size: 24px;
                font-weight: 600;
            }
            .post__description{
                margin-top: 12px;
                font-weight: 400;
            }
        }
        .post__interaction{
            display: flex;
            padding-top: 12px;
            margin-top: 24px;
            border-top: 1px solid #d5d5d5;
            position: relative;
            .post__comment{
                margin-left: 24px;
                &:hover{
                    color: #faaa62;
                    cursor: pointer;
                }
            }
            .post__like{
                position: absolute;
                right: 0;
                &:hover{
                    color: #e84a43;
                    cursor: pointer;
                }

            }
        }
    }
}